#content {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#greeting-container {
  margin-top: 20px;
}

#mapid { height: 400px; }

.map {
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.typesIncidents li{
  list-style-type: none;
}

.types-incidents li {
  list-style-type: none;
}

